body #main1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 10%;
}
body{
    background-color: #24373d;
}
.header2 {
    text-align: center;
    padding: 30px;
    background-color: #e74c3c;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}
.section {
    background-color: rgb(237, 254, 255);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
}
h2 {
    color: #e74c3c;
    margin-bottom: 15px;
}
.note {
    color: #555;
    font-style: italic;
    margin-top: 10px;
}
.blood-groups p{
    margin-left: 30px;
}
.blood-groups .image-space{
    text-align: center;
    margin-top: 30px;
}
.component .image-space {
    text-align: center;
    margin: 50px 0px;
}
.component .image-space img{
    height: 160px;
}
.placeholder {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.eligibility li{
    margin-left: 10%;
}
.eligibility h2{
    text-align: center;
    margin-bottom: 36px;
}
.eligibility p{
    text-align: center;
    margin-top: 30px;
}
.blood-components .component-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.component {
    flex: 1;
    padding: 15px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.footer2 {
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin: 30px 0px;
}
